/* Typography*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
}